body {
    background-color: #201a43;
    color: white;
}
.header {
    text-align: center;
    background-color: #483d8b;
}
nav ul {
    list-style-type: none;
    padding: 15px;
    background-color: darkslateblue;
    font-weight: 800;
    font-size: 24px;
  }

  nav a:link, nav a:visited, nav a:active, nav a:hover {
    text-decoration: none;
    color: white;
  }

  nav a:hover {
    color: orange;
    text-decoration: underline;
  }

  nav a:active {
    color: yellow;
    text-decoration: underline;
  }

  nav li {
    display: inline-block;
    padding: 0px 10px;
  }